.hero{
  width: 100%;
  display: flex;
  background-color: #141414;
  color: #fff;
  z-index: 12;
  height: 630px;
  align-items: center;
}
.intro{
  position: relative;
  z-index: 12;
}
.hero-img{
  position: absolute;
  z-index: 1;
  top: -250px;
  right: 0%;
  margin: 0px auto;
}

.hero__text {
  margin: 0px;
  @include fonts;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 24px;

}

.title{
  margin: 0px;
  @include fonts;
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  width: 396px;
  text-transform: uppercase;
  margin-bottom: 24px;

}
.title__text{
  margin: 0px;
  @include fonts;
  width: 349px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.75;
  mix-blend-mode: normal;
  margin-bottom: 50px;
}

.btn{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
}
@media only screen and (max-width: 1100px){
.hero{
  width: 100%;
  background-color: #141414;
}

}
