.intro{
  display: flex;
}

.hero {
  background-color: #141414;
  padding: 128px 0px 158px;
  color: #fff;
  padding-bottom: 200px;
  z-index: 12;
}
.bgimg{
  background-image: url(../../img/airpods.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 13;
  width: 708.8px;
  height: 886px;
  top: -30px;
  left: 47%;
}

.hero__text {
  margin: 0px;
  @include fonts;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 24px;

}

.title{
  margin: 0px;
  @include fonts;
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  width: 396px;
  text-transform: uppercase;
  margin-bottom: 24px;

}
.title__text{
  margin: 0px;
  @include fonts;
  width: 349px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.75;
  mix-blend-mode: normal;
  margin-bottom: 55px; 
}

.btn{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
}

@media only screen and (max-width: 768px)
