.grid-container {
  list-style: none;
  padding-top: 200px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
  position: relative;

  &__li {
    margin-bottom: 168px;
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 350px;
    
    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;

      &--img {
        position: absolute;
        bottom: 53%;
      }

      &--smoke {
        position: absolute;
        bottom: 48%;
      }

      &--li-text1 {
        padding-top: 116px;
        margin-bottom: 15px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #000;
      }

      &__div {
        display: flex;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        padding-bottom: 30px;
        &--shoptext{
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 18px;
          opacity: 0.5;
          margin-right: 10px;
        }
      }
    }
  }
}